@use "src/styles/global" as *;

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after,
  *::backdrop {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
  }
}
