:root {
  --color-text-base: #000;
  --font-base:
    "游ゴシック体", yugothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic";
}

html {
  overflow: hidden auto;
}

body {
  font-family: var(--font-base), sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: var(--color-text-base);
  line-break: strict;
  word-break: normal;
  overflow-wrap: anywhere;
  text-autospace: normal;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

dialog {
  width: unset;
  max-width: unset;
  height: unset;
  max-height: unset;
  padding: unset;
  overflow: unset;
  color: unset;
  background-color: unset;
  border: unset;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after,
  *::backdrop {
    scroll-behavior: auto !important;
    transition: none !important;
    animation: none !important;
  }
}

/* stylelint-disable */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* for Google Chrome */
  img {
    image-rendering: -webkit-optimize-contrast;
  }
}
/* stylelint-enable */
