.hp_mobileOnly {
  display: none !important;

  @media (768px <= width) {
    display: block !important;
  }
}

.hp_desktopOnly {
  display: block !important;

  @media (768px <= width) {
    display: none !important;
  }
}

.hp_hoverFade {
  transition: opacity 0.4s !important;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.6 !important;
    }
  }

  &:focus-visible {
    opacity: 0.6 !important;
  }
}

.hp_ttu {
  text-transform: uppercase !important;
}
