@use "src/styles/global" as *;

.hp_mobileOnly {
  display: none !important;

  @include mq(md) {
    display: block !important;
  }
}

.hp_desktopOnly {
  display: block !important;

  @include mq(md) {
    display: none !important;
  }
}

.hp_hoverTransparent {
  transition: opacity 0.4s !important;

  @include mq_hover {
    opacity: 0.6 !important;
  }
}

.hp_ttu {
  text-transform: uppercase !important;
}
