---
import "destyle.css";
import "src/styles/base.scss";
import "src/styles/helpers.scss";
import "src/styles/a11y.scss";

import { type Props as AstroSeoProps, SEO } from "astro-seo";

export type Props = AstroSeoProps & {
  title: string;
  description: string;
};

const { title, description, ...seoProps }: Props = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="format-detection" content="email=no,telephone=no,address=no" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <SEO {...seoProps} />
  </head>
  <body>
    <slot />
    <script>
      import { fixViewport } from "src/scripts/fixViewport";

      window.addEventListener("resize", fixViewport);
      fixViewport();
    </script>
  </body>
</html>
