name: CI
on:
  push:
    branches: [main]
  pull_request:
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Node.js
        uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4
      - name: Cache node_modules
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm install
      - name: Build site
        run: npm run build
      - name: Lint files
        run: npm run lint
      - name: Check code
        run: npm run check
