name: CI
on:
  push:
    branches: [main]
  pull_request:
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Node.js
        uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4
      - name: Cache node_modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm install
      - name: Build site
        run: npm run build
      - name: Lint files
        run: npm run lint
      - name: Check code
        run: npm run check
